* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    background: darkslategray;
    cursor: pointer;
    width: 250px;
    height: 70px;
    color: white;
    overflow: hidden;
}

.confirm {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    will-change: transform;
}

.plane {
    position: absolute;
    right: 100%;
    font-size: 75px;
    will-change: transform;
}

.button.animate {
    animation: button 0.3s linear forwards;
}

.animate .confirm {
    animation: confirm 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.animate .plane {
    animation: flyover 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}

@keyframes button {
    0% {
        background-color: darkslategray;
    }
    100% {
        background-color: skyblue;
    }
}

@keyframes confirm {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes flyover {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(180px);
    }
    70% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(350px);
    }
}
